.login-form{
    width: 1280px;
    height: 720px;
    background-color: rgba(96, 3, 146, 0.979);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    border-radius: 10px;
    left: 0;
    z-index: 9999;
    justify-content: center;
}

input, select, button{margin-top: 20px;background-color: rgb(140, 0, 171);color: white;border:none;}
input{width: 200px;height: 30px;    font-family: "Jaro", sans-serif;}
select{width: 200px;height: 30px;    font-family: "Jaro", sans-serif;}
button{width: 100px;height: 30px;    font-family: "Jaro", sans-serif;cursor: pointer;}
input::placeholder{color: white;}
img{width: 300px;}
#exit{background: none;font-size: 15px; cursor: pointer;}