*{    
    font-family: "Jaro", sans-serif;
}

html, body {
    overflow: hidden; /* Убираем прокрутку */
    margin: 0;
    background: linear-gradient(0deg, #1C0232, #540798);
    padding: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.server-stats {
    width: 1280px;
    margin-top: 40px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;

}

header{display: flex;align-items: center;
justify-content: end;margin-right: 50px;max-width: 1280px;height: 30px;margin-top: 50px;}
.server-stats iframe {
    width: 728px;
    height: 90px;
    max-width: 100%;
    border: none;
    margin: auto;
    display: grid;
}

.wrapper {
    width: 1280px;
    height: 720px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

.login-form {
    width: 1280px;
    margin-top: 50px;
    height: 100px;
    background-color: rgba(115, 0, 153, 0.751);
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.7s;
}

.form{display: flex;}

.form input {
    margin: 0 20px 0 0px;
}

#play {
    width: 200px;
    height: 60px;
    background-color: rgb(184, 6, 215);
    color: white;
    border-radius: 10px;
    border: none;
    margin-left: 450px;
    margin-bottom: 10px;
    font-size: 20px;
}

#username {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: rgb(184, 6, 215);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

#username::placeholder {
    color: white;
    font-size: 10px;
}

#version {
    width: 200px;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 6, 215);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

#exit {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 6, 215);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
